body {
    background-color: #232323;
}

.square {
    width: 30%;
    background: purple;
    float: left;
    margin: 1.66%;
    padding-bottom: 30%;
    border-radius: 25px;
}

#container {
    margin: 0 auto;
    max-width: 600px;
}

h1 {
    text-align: center;
    color: white;
    background: steelblue;
    margin-bottom: 0;
}

#colourDisplay {
    text-transform: uppercase;
    display: block;
}

#stripe {
    background-color: white;
    height: 40px;
    text-align: center;
    padding: 1px;
    color: black;
}

#message {
    padding-top: 9px;
}

.btn-light {
    margin: auto;
}

.selected {
    background: blue;
}